/* css styles */

h1 { 
  font-family: AppleGothic; 
  font-size: 23px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 23px; 
}

h2 { 
  font-family: AppleGothic; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 23px; 
}

h3 { 
  font-family: AppleGothic; 
  font-size: 17px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 23px; 
}

p { 
  font-family: AppleGothic; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 23px; 
}

blockquote { 
  font-family: AppleGothic; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
  color: #FF0000;
  
} 

pre { 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
  
}

pre code { 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
  
}

.listing-description {
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px;
  color: #A9A9A9; /*Dark gray 66.3%*/
}